<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="StockConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=I:\Lab\DotNet\Inventory Management System\DatabaseIMS\Inventory Management System.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Inventory_Management_System.Properties.Settings.Inventory_Management_SystemConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;I:\Lab\DotNet\Inventory Management System\DatabaseIMS\Inventory Management System.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
     <add name="Inventory_Management_System.Properties.Settings.Inventory_Management_SystemConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Inventory Management System.mdf;Integrated Security=True;Connect Timeout=90" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
